*.zip
*.VC.db
*.db
*.opendb
*.exp
*.pdb
*.obj
*.tlog
*.lastbuildstate
*.idb
*.ilk
Examples/project/x64/Debug/*.ilk
debug_unCalibrate.xml
*.dat
*.txt
*/continuous_saved_buffers/

*/*.tlog/
Examples/project/.vs/
*/.vs/